@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
*{
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: "Londrina Sketch", sans-serif;
}

header{
    position: fixed;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 1000;
}
.logo {
    height: 66px;   
}

.header-list {
    display: flex;
}

.header-list > li > a {
    color: black;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    padding-right: 15px;
}


  /* スライドショーのコンテナ */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    

  }
  
  /* 各スライドのスタイル */
  .slides {
    display: none;
    position: relative;
    
  }
  
  /* 画像がフェードイン/アウトするためのアニメーション */
  .fade {
    animation-name: fade;
    animation-duration: 5s; 
    animation-timing-function: ease-in-out; 
    animation-fill-mode: both; /* 追加 */
  }
  
  @keyframes fade {
    from { opacity: 0; } 
    to { opacity: 1; }   
  }

  .slideshow-container img {
    height: 800px;  
    width: 100%;    
    object-fit: cover;
    
  }

  .tops-section {
    position: relative;
}

.greeting {
    font-size: 250px; /* 単位を追加 */
    display: block;
    color: lightcoral;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    position: absolute; /* セミコロンを追加 */
    top: 55%; /* 追加 */
    left: 50%; /* 追加 */
    transform: translate(-50%, -50%); /* 中央に配置 */
}

.intro-section{
    height: 200px;
    margin-bottom: 40px;
    position: relative;
   
}

.intro-logo {
    position: absolute;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.intro {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    position: absolute; /* セミコロンを追加 */
    top: 50%; /* 追加 */
    left: 50%; /* 追加 */
    transform: translate(-50%, -50%);
}
