* {
    margin: 0;
    padding: 0;
}

.head{
    background-color: white;
}

.top {
    background-image: url(../img/IMG_4588.JPG);
    
}

.title {

    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 100px;
    color: white;
}


.choice{
    /* height:300px; */
    width:100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color: rgb(242, 235, 219);
    padding: 50px 0;
}

#menu {
    height: 200px;
    width: 100px;
    border: 1px solid;
    text-align: center;
    }
