
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 14px 40px;

}

.top-section {
    
    background-image: url(../img/island.JPG);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   
}

.greeting {
    color: white;
   font-size: 15vw;
   
}

.intro-section {
    height: 200px;   
}

.intro{
    text-align: center;
    line-height: 200px;

}

.choice{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(242, 235, 219);
    padding: 50px 0;
} 

#menu {
    text-align: center; 
    width: 33.33333%;
      
}

#menu > img {
    width: 100%;
    object-fit: cover;
}

.details-1{
    display: flex;
    flex-direction: row;

}